
.cakes .wrapper .cake-card{
    border: var(--border-color);
    border-radius: 1rem;
 text-align: center;
 padding: 3rem ;
 /* transform-origin: top center; wata ba (top  & center) jegir bet */
}
.cakes .wrapper .cake-card:hover{
    box-shadow: var(--box-shadow-color);
}

/* .cakes .wrapper .cake-card:hover{
    background-color: var(--black); 
    transform: scaleY(1.1);
   } */
   .cakes .wrapper .cake-card h3{
    color:var(--main-color);
   }
   /* .cakes .wrapper .cake-card:hover *:not(a){
    color:var(--main-color);
   } */

   .cakes .wrapper .cake-card .img {
    padding: 1rem 0;
}
.cakes .wrapper .cake-card .img img{
   height: 20rem;
   /* width: 100%; */
   /* height: 100%; */
}

.cakes .wrapper .cake-card h3{
    color: var(--main-color);
    font-size: 2rem;
    padding: 1rem 0;
    
}


.cakes .wrapper .cake-card .price{
    color: var(--main-color);
    font-size: 1.8rem;
    padding: .5rem 0;
}
/*la rwy priority*/
/*Html element < Class name < ID names*/
.cakes .wrapper .cake-card .price span{
    color: var(--main-color);
    font-size: 1.4rem;
    text-decoration: line-through;
}
