.home{
    display: flex;
    align-items: center;
  min-height: 86vh;
  margin-top: 14vh;
  background-image: url('../../img/background3.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .hero{
   width: 60rem;
}
.home .hero h3{
    font-size: 6rem;
    text-transform: uppercase;
    color: #fff;
}
.home .hero p{
    font-size: 1.6rem;
    color: #eee;
    font-weight: lighter;
    line-height: 2.6rem;
    padding: 1rem 0;
    
}

@media (max-width:764px) {
  .home{
    background-position: left;
  }

  .home .hero h3{
    font-size: 4.5rem;
  }
  .home .hero p{
    font-size: 1.5rem;
  }
}