:root{
    --main-color:#D988B9;
    --nav-color:#B0578D;
    --bg-color:#F9F9F9;
    --black:#6d3f52;
    --close-color:#e61212;
    --home-content:#9ec3d4;
    --card-color: #F2DBE7;
    --cheesecake-card-color:#fcd9d9;
    --border-color:1px solid var(--card-color);
    --box-shadow-color:0 0 10px rgba(0, 0, 0, .5);
    --brownie-card-color:#e1c190;


}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease-in;
    scroll-behavior: smooth;
    /*agar ama nakait achet aw section to hata aibata bashi top browseri windowkatawa*/
    scroll-padding-top: 14vh; /*header heigh=14vh bo awai title page'akanman dar kawet 
    put some space axata newan browser w sectioni pageakan*/
} 

html{
    font-size: 62.5%; /*==10px*/
    overflow-x: hidden;
}

body{
background-color: var(--bg-color);
}

section{
    padding: 2rem 7%;
}

/* btn==link link inline element boia margin warnagret ba inline bet bas shkli block wargret*/
.btn{
    display: inline-block;
    background-color: var(--main-color);
    text-align: center;
    color: #fff;
    font-size: 1.7rem;
    padding: 0.8rem 2.5rem;
    margin-top: 1rem;
    cursor: pointer;
}
.btn:hover{
    letter-spacing: .2rem;
}

.page-title{ /*right bottom*/               /*left top*/                /*am dwana diagonal*/
text-shadow:2px 2px 0 var(--card-color),-2px -2px 0 var(--card-color),2px -2px 0 var(--card-color),-2px 2px 0 var(--card-color);
text-align: center;
font-size: 4rem;
padding:2rem 0;
text-transform: uppercase;
color: #fff;
}
.page-title span{
    color: var(--main-color);
}

.wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr)); /*auto-fit wata ziatr la elementek la rowek as possible *//*minmax qiasi har elementek ba 30rem yan ziatr ba yaksani*/
    gap: 1.5rem;
}

/* media query for Tablet and small laptop. */
@media (max-width:880px) { /* wata la 0 bo 878px*/
    html{
        font-size: 55%;
    }
}

@media (max-width:764px) {
    section{
        padding: 2rem;
    }
}

@media (max-width:550px) {
html{
width: 100%;
}
  

}